<script lang="ts" setup>
import { useUserStore } from "@/stores/user.js";
import { onMounted } from "vue";
import UserDialog from "./UserDialog.vue";

const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
});
</script>
<template>
  <v-container>
    <v-card>
        <UserDialog></UserDialog>
    <v-btn variant="outlined" color="primary" @click="userStore.dialog = true"> <v-icon icon="mdi-account-plus" class="mr-1" size="25"></v-icon>Add User</v-btn>
    <v-table>
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Username</th>
          <th class="text-center">Password</th>
          <th class="text-center">Operations</th>
        </tr>
      </thead>

      <tbody class="text-center">
        <tr v-for="item of userStore.users" :key="item.id" >
          <td>{{ item.id }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.password }}</td>
          <td><v-btn class="mr-5" color="secondary" @click="userStore.editUser(item)"><v-icon icon="mdi-pencil" class="mr-1" size="25"></v-icon>Edit</v-btn>
            <v-btn color="error" @click="userStore.deleteUser(item.id!)"><v-icon icon="mdi-delete" class="mr-1" size="25"></v-icon>Delete</v-btn>
          </td>
        </tr>

      </tbody>
    </v-table>
  </v-card>
  </v-container>

</template>