<template>
  <v-app-bar :elevation="0" color="blue-darken-3">
    <v-app-bar-title>Main Header</v-app-bar-title>
  <template v-slot:append>
    <v-btn icon="mdi-heart"></v-btn>

    <v-btn icon="mdi-magnify"></v-btn>

    <v-btn icon="mdi-dots-vertical"></v-btn>
  </template>
</v-app-bar>
</template>
